.frameOver {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height:670px;
    width: 75%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;

}

section {
    margin-top: 100px;
}

.frameOver_welcome {
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frameOver_x {
    height: 100%;
    width: 85%;

}

.cuscol {
    display: flex;
    justify-content: center;
}
.typeInput__content{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 8px;
    padding-left: 15px;

}
.cusError{
    font-size: 90%;
    font-weight: 600;
    color: rgb(189, 23, 23);
}
.typeInput__content:focus{

    outline: none;
}
.typeInput,
.titleInput{
    padding-bottom: 5px;
}
.buttonSubmit{
    padding-top: 20px;
}
.cusButton{
    width: 100%;
    padding: 12px 10px;
}
.objectError{
    height: 32px;
    width: 100%;
    box-sizing: border-box;
}
.groupInput{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.imgCus_1{
    height: 100%;
    width: 100%;
}
.imgCus{
    height: 720px;
    width: 90%;
}
.row{
    width: 100%;
}
.signUp{

    height: 50px;

}
.groupSignup{
    height: 100%;
    width: 100%;
    display: flex;
}
.signGoogle{
    padding-left: 5px;
}
.groupSignup a{
    text-decoration: none;
}

.groupInput1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
}
.objectError1{
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 8px;
}